* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #0a0705;
    overflow-x: hidden;
}

/* NAVBAR */

.navbar {

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    padding: 20px 7%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
}

/* لوگوی فنجون */
.logo1 img {
    height: 100px;
    display: flex;
    margin-right: -40px;
}

/* لوگوی نوشته */
.logo2 img {
    height: 100px;
    display: flex;
    padding: 10px 20px;
}

.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: .3s;
}

.nav-links a:hover {
    color: #c08b5c;
}

.order-btn {

    border: none;
    cursor: pointer;

    background: #c08b5c;
    color: white;

    padding: 15px 35px;

    border-radius: 40px;

    font-weight: 600;
}

/* HERO */

.hero {

    height: 100vh;

    background:
        linear-gradient(rgba(0, 0, 0, .55),
            rgba(0, 0, 0, .55)),
        url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085");

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
}

.hero-content {

    margin-left: 8%;
    max-width: 700px;

    color: white;
}

.hero-content h1 {

    font-family: 'Cormorant Garamond', serif;

    font-size: 6rem;

    line-height: 1.05;

    margin-bottom: 20px;
}

.hero-content span {
    color: #c08b5c;
}

.hero-content p {

    font-size: 18px;
    line-height: 1.8;

    margin-bottom: 35px;

    max-width: 550px;
}

.hero-btn {

    border: none;

    background: #c08b5c;
    color: white;

    padding: 16px 35px;

    border-radius: 40px;

    cursor: pointer;

    font-size: 16px;
}

/* MENU SECTION */

.menu {
    /* background: #111; */
    padding: 300px 8%;
}

.menu-cards {
    max-width: 1400px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, minmax(320px, 1fr));
    gap: 35px;
}

.section-title {
    text-align: center;
    color: white;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 3rem;
    color: #c08b5c;
    margin-bottom: 10px;
}

.section-title p {
    color: #ccc;
}



.card {
    background: #1a1a1a;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    transition: 0.3s;

    padding-bottom: 20px;
}

.card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .3);
}

.card h3 {
    color: white;
    margin: 20px 0 10px;
}

.card p {
    color: #bbb;
    padding: 0 20px;
}

.card span {
    display: block;
    color: #c08b5c;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px 0;
}

/* SIGNATURE SECTION */
.signature-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    max-width: 950px;
    margin: auto;
}

.sig-card {
    background: #1a1a1a;

    padding: 35px 25px;

    border-radius: 20px;

    text-align: center;

    position: relative;

    overflow: hidden;

    transition: .4s;

    box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}

/* hover effect */
.sig-card:hover {
    transform: translateY(-12px);

    box-shadow: 0 18px 45px rgba(0, 0, 0, .5);
}

/* title */
.sig-card h3 {
    color: #fff;

    margin-bottom: 10px;

    font-size: 1.4rem;
}

/* description */
.sig-card p {
    color: #bbb;

    margin-bottom: 15px;

    line-height: 1.6;
}

/* price */
.sig-card span {
    display: inline-block;

    color: #c08b5c;

    font-weight: bold;

    font-size: 1.2rem;

    padding: 6px 16px;

    border: 1px solid #c08b5c;

    border-radius: 25px;

    transition: .3s;
}

/* price hover */
.sig-card:hover span {
    background: #c08b5c;
    color: #111;
}

/* glow line effect */
.sig-card::before {
    content: "";

    position: absolute;

    top: -50%;
    left: -50%;

    width: 200%;
    height: 200%;

    background: linear-gradient(45deg,
            transparent,
            rgba(192, 139, 92, .15),
            transparent);

    transform: rotate(25deg);

    opacity: 0;

    transition: .6s;
}

.sig-card:hover::before {
    opacity: 1;
}

.signature {
    padding-top: 260px;
    padding-bottom: 120px;

}

.signature .section-title {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
}

.signature-container {
    margin-top: 70px;
}

.sig-card img {
    width: 100%;
    height: 220px;
    /* همه عکس‌ها یک سایز */
    object-fit: cover;
    display: block;
    border-radius: 15px;
    margin-bottom: 20px;
}

/* ABOUT */

.about {
    background: #0d0d0d;
    padding: 250px 8%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    max-width: 550px;

    border-radius: 25px;
}

.about-content {
    flex: 1;
    color: white;
}

.about-content h2 {
    font-size: 3rem;
    color: #c08b5c;
    margin-bottom: 25px;
}

.about-content p {
    color: #ccc;
    line-height: 1.8;
    margin-bottom: 20px;
}

.about-btn {
    border: none;
    background: #c08b5c;
    color: white;

    padding: 15px 30px;

    border-radius: 40px;

    cursor: pointer;
}

/* GALLERY */

.gallery {
    background: #111;
    padding: 120px 8%;
}

.gallery-grid {

    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 20px;
}

.gallery-grid img {

    width: 100%;
    height: 280px;

    object-fit: cover;

    border-radius: 20px;

    transition: .4s;
}

.gallery-grid img:hover {

    transform: scale(1.05);

    cursor: pointer;
}

/* CONTACT SECTION */

.contact-info {
    background: #0d0d0d;
    padding: 120px 8%;
}

.info-container {
    max-width: 1300px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.info-card {

    background: #1a1a1a;

    padding: 40px 25px;

    border-radius: 20px;

    text-align: center;

    transition: .4s;
}

.info-card:hover {

    transform: translateY(-10px);

    box-shadow: 0 15px 30px rgba(0, 0, 0, .4);
}

.info-card i {

    font-size: 42px;

    color: #c08b5c;

    margin-bottom: 20px;
}

.info-card h3 {

    color: white;

    margin-bottom: 15px;

    font-size: 22px;
}

.info-card p {

    color: #bbb;

    line-height: 1.8;
}

@media(max-width:900px) {

    .info-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:600px) {

    .info-container {
        grid-template-columns: 1fr;
    }
}

/* MOCHA INFO */

.mocha-info{
    background:#111;
    padding:120px 8%;

    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:70px;

    flex-wrap:wrap;
}

.mocha-content{
    flex:1;
    min-width:350px;
}

.tag{
    display:inline-block;
    background:#c08b5c;
    color:white;
    padding:8px 18px;
    border-radius:30px;
    margin-bottom:20px;
    font-size:14px;
}

.mocha-content h2{
    color:#c08b5c;
    font-size:3rem;
    margin-bottom:25px;
}

.mocha-content p{
    color:#ccc;
    line-height:1.9;
    margin-bottom:20px;
}

.mocha-stats{
    display:flex;
    gap:25px;
    margin-top:40px;
    flex-wrap:wrap;
}

.stat-box{
    background:#1a1a1a;
    padding:25px;
    border-radius:20px;
    min-width:140px;
    text-align:center;
    transition:.4s;
}

.stat-box:hover{
    transform:translateY(-10px);
    background:#c08b5c;
}

.stat-box:hover h3,
.stat-box:hover span{
    color:#111;
}

.stat-box h3{
    color:#c08b5c;
    font-size:2rem;
    margin-bottom:8px;
    transition:.4s;
}

.stat-box span{
    color:#bbb;
    transition:.4s;
}

.mocha-image{
    flex:1;
    min-width:350px;
}

.mocha-image img{
    width:70%;
    border-radius:30px;
    display:block;
    transition:.5s;
}

.mocha-image img:hover{
    transform:scale(1.03);
}
.footer{
    background:#0b0b0b;
    padding:100px 0 40px;
    text-align:center;
}

.footer-profile h2{
    color:#fff;
    margin-top:25px;
    font-size:2rem;
}

.footer-profile span{
    color:#c08b5c;
    font-size:1rem;
}

/* عکس */

.profile-wrapper{
    position:relative;
    width:180px;
    height:180px;
    margin:auto;
}

.profile-wrapper img{
    width:100%;
    height:100%;

    object-fit:cover;

    border-radius:50%;

    border:4px solid #c08b5c;

    transition:.5s;
}

/* هاور روی عکس */

.profile-wrapper:hover img{
    transform:scale(1.08);
    box-shadow:0 0 40px rgba(192,139,92,.7);
}

/* آیکون ها */

.footer-links{

    position:absolute;

    left:50%;
    bottom:-30px;

    transform:translateX(-50%) translateY(20px);

    display:flex;
    gap:12px;

    opacity:0;

    transition:.5s;
}

.profile-wrapper:hover .footer-links{
    opacity:1;
    transform:translateX(-50%) translateY(0);
}

.footer-links a{

    width:45px;
    height:45px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:50%;

    background:#1a1a1a;

    color:white;

    text-decoration:none;

    transition:.3s;
}

.footer-links a:hover{
    background:#c08b5c;
    color:#111;
    transform:translateY(-8px);
}

/* متن پایین */

.footer p{
    color:#777;
    margin-top:40px;
    font-size:.9rem;
}